.round-hud {
  position: absolute;
  inset-block-start: 0.5rem;
  inset-inline-end: 0.625rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4),
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 2;

  &__title {
    letter-spacing: 0.0625rem;
    font-size: 0.625rem;
    color: #a0a0a0;
  }

  &__info {
    font-size: 1.125rem;
    font-weight: bold;
  }
}
