.host-modal__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--modal-button-font-size);

  h2 {
    color: var(--ds-color-white);
    margin-block: 0.5rem;
  }
}

.host-modal__code {
  font-size: 3rem;
  font-weight: bold;
  margin-block-start: 0.5rem;
  color: var(--modal-accent-color);
  text-shadow: var(--modal-text-shadow);
}

.host-modal__info-container {
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.host-modal__info {
  color: var(--ds-color-white);
  font-size: clamp(1.75rem, 3vw, 2rem);
  margin: 0;
  font-weight: bold;

  &.joined {
    color: var(--modal-success-color);
  }

  &.waiting {
    color: var(--modal-warning-color);
    animation: pulse 3s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
