.game-result-buttons {
  display: flex;
  gap: 1rem;

  .game-summary-btn {
    background: transparent;
    /* Transparent background */
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid white;
    /* White border */
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    /* Lighter shadow */
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.3s ease;
    /* Added border transition */
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;

    &:hover {
      transform: scale(1.05);
      border-color: rgb(255, 255, 255, 0.8);
      /* Slightly darker white border on hover */
    }

    &:active {
      transform: scale(0.975);
    }
  }

  .continue-btn {
    background: rgb(108, 185, 40);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.6) 0, transparent 30%);
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 25px;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.975);
    }
  }
}