:root {
  --z-index-overlay: 3;
  --overlay-bg: transparent;
  --overlay-pointer-events: all;
}

.game-page {
  position: relative;

  .transparent-overlay {
    position: absolute;
    inset: 0;
    background: var(--overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--z-index-overlay);
    pointer-events: var(--overlay-pointer-events);
  }
}
