:root {
  --z-index-overlay: 3;
  --overlay-bg: transparent;
}

.game-page {
  position: relative;

  .transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--z-index-overlay);
    pointer-events: all;
  }
}
