:root {
  /* Layout */
  --header-logo-size: clamp(2rem, 10vw, 3.5rem);

  /* Effects */
  --header-logo-shadow: 0 0 0.3125rem var(--ds-color-black);
}

.header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .header__logo-image {
    block-size: var(--header-logo-size);
    filter: drop-shadow(var(--header-logo-shadow));
  }
}
