.players {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(3rem, 10vw, 10rem);
  margin: 0;

  .vs {
    text-align: center;
    font-size: var(--next-round-font-size-large);
    color: var(--ds-color-white);
    font-weight: bold;
    text-shadow: var(--next-round-vs-shadow);
    animation: pulse var(--next-round-transition) infinite;
    letter-spacing: 0.0938em;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
