.next-round-info__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.8px;
  font-family: "Knewave", system-ui;
  text-transform: uppercase;
  gap: 10rem;
  margin: 0;

  @media (max-width: 1280px) {
    gap: 1rem;
  }

  @media (max-width: 480px) {
    gap: 0rem;
  }

  .current-round {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    opacity: 0.8;
    font-family: "Knewave", system-ui;
  }

  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1rem;
      color: #fff;
      margin: 0;
      text-shadow: 0 0 10px #000000, 0 0 15px #000000;
    }

    h2 {
      font-size: 2rem;
      color: #fecd19;
      line-height: 1.2;
      margin: 0;
    }
  }
}
