:root {
  /* Layout */
  --home-buttons-gap: clamp(0.8rem, 2vw, 1.5rem);
  --home-buttons-margin: 1rem;
}

.home__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--home-buttons-gap);
  margin-block-end: var(--home-buttons-margin);
}
