:root {
  --transition-duration: 0.3s;
  --border-radius: 0.9375rem;
  --box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.3);
  --box-shadow-active: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  --gradient-bg: linear-gradient(
    180deg,
    #388e3c 0%,
    #66bb6a 25%,
    #81c784 50%,
    #66bb6a 75%,
    #388e3c 100%
  );
  --gradient-bg-hover: linear-gradient(
    180deg,
    #327e35 0%,
    #5daa61 25%,
    #73b176 50%,
    #5daa61 75%,
    #327e35 100%
  );
}

#guess-map-container {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  inline-size: 20rem;
  block-size: 15.625rem;
  transition: all var(--transition-duration) ease;
  overflow: hidden;
  z-index: 4;
  border-radius: var(--border-radius);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;

  &.expanded {
    inline-size: 37.5rem;
    block-size: 25rem;
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

#guess-map {
  inline-size: 100%;
  block-size: 100%;
  border-radius: var(--border-radius);
  transition: all var(--transition-duration) ease;
}
