:root {
  --map-selection-content-width: min(100%, 75rem);
}

.map-selection-container {
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
}

.map-selection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
      66.5% 221.21% at 136.03% -61.44%,
      rgba(58, 232, 189, 0.5) 0%,
      rgba(58, 232, 189, 0) 92.09%
    ),
    radial-gradient(
      93.54% 126.91% at 29.15% -56.29%,
      rgba(58, 232, 189, 0.8) 0%,
      rgba(58, 232, 189, 0) 92.09%
    ),
    radial-gradient(
      86.19% 101.84% at -17.13% -24.8%,
      #7950e5 0%,
      rgba(121, 80, 229, 0) 92.09%
    ),
    var(--ds-color-purple-100);

  &__content {
    display: flex;
    flex-direction: column;
    inline-size: var(--map-selection-content-width);
    text-align: center;
    margin: 0;
    overflow: hidden;
  }
}
