.container {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: min(var(--multiplayer-container-width), calc(100% - 2rem));
  margin-inline: auto;
  flex-wrap: wrap;
  gap: var(--multiplayer-spacing);

  @media (max-width: 48rem) {
    // 768px
    flex-direction: column;
    gap: calc(var(--multiplayer-spacing) * 0.75);

    > * {
      inline-size: min(20rem, calc(100% - 5rem));
    }
  }
}
