.map-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  .map-title {
    font-size: 2.5rem;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
    margin: 0;
  }

  .map-description {
    font-size: 1.2rem;
    margin: 0 1rem;
  }
}
