.map-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: var(--gs-map-spacing);

  .map-title {
    font-size: var(--gs-map-title-size);
    text-shadow: var(--gs-text-shadow);
    margin: 0;
  }

  .map-description {
    font-size: var(--gs-map-text-size);
    margin: 0;
    padding-inline: var(--gs-padding);
  }
}
