.settings-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-btn {
  padding: var(--gs-padding);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: var(--gs-border-radius);
  cursor: pointer;
  transition: transform var(--gs-transition);
  box-shadow: var(--shadow-3);
  text-shadow: var(--gs-text-shadow);
  font-size: var(--gs-title-size);
  border: 0.0625rem solid var(--ds-color-black);
  color: var(--ds-color-white);
  background: var(--ds-color-green-80);
  background-image: var(--button-success-gradient);

  &:hover:not(:disabled) {
    transform: scale(1.05);
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  &:disabled {
    background: var(--ds-color-black-50);
    cursor: not-allowed;
  }
}
