$primary-color: #ffffff;
$secondary-color: #fecd19;
$tertiary-color: #ff6347;
$quaternary-color: #66cdaa;
$background-color: rgba(0, 0, 0, 0.7);
$box-shadow-color: rgba(0, 0, 0, 0.3);
$font-family: "Arial", sans-serif;
$border-radius: 20px;
$max-width: 1000px;

.progress-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 1rem;
  gap: 10rem;

  @media (max-width: 1280px) {
    gap: 5rem;
  }

  @media (max-width: 1024px) {
    width: 100%;
    gap: 3rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 70%;
  }

  @media (max-width: 480px) {
    width: 90%;
  }

  .progress-bar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);

    @media (max-width: 1280px) {
      padding: 0.5rem 1.5rem;
    }

    @media (max-width: 1024px) {
      padding: 0.5rem 1rem;
    }

    @media (max-width: 768px) {
      padding: 0.5rem 1rem;
    }

    @media (max-width: 480px) {
      padding: 0.3rem 0.8rem;
    }

    @media (max-width: 320px) {
      padding: 0.2rem 0.5rem;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      border: 3px solid $primary-color;

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
      }

      @media (max-width: 480px) {
        width: 35px;
        height: 35px;
      }

      @media (max-width: 320px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
