.map-toggle-btn {
  position: absolute;
  inset-block-end: 1.25rem;
  inset-inline-end: 1.25rem;
  background: rgb(108, 185, 40);
  background-image: radial-gradient(
    150% 160% at 50% 15%,
    hsla(0, 0%, 100%, 0.6) 0,
    transparent 30%
  );
  color: white;
  padding: 0.625rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 1);
  z-index: 10;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.mobile-map-container {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 70%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUp 0.5s ease-in-out;

  &.slide-down {
    animation: slideDown 0.5s ease-in-out;
  }
}

.map-wrapper {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
}

#mobile-guess-map {
  inline-size: 100%;
  block-size: 100%;
}

.mobile-guess-btn {
  position: absolute;
  inset-block-end: 1.25rem;
  inset-inline-end: 1.25rem;
  background: rgb(108, 185, 40);
  background-image: radial-gradient(
    150% 160% at 50% 15%,
    hsla(0, 0%, 100%, 0.6) 0,
    transparent 30%
  );
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 1.5625rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 1);

  &:not(.disabled):hover {
    transform: scale(1.05);
  }

  &:not(.disabled):active {
    transform: scale(0.95);
  }

  &.disabled {
    background: #999;
    cursor: default;
    opacity: 0.7;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
