:root {
  /* Layout */
  --game-result-spacing: 1rem;
}

.game-result-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 50%;
  gap: var(--game-result-spacing);

  .game-summary-btn-container {
    width: 50%;
    display: flex;
    justify-content: right;
  }

  .continue-btn-container {
    width: 50%;
  }

  @media (max-width: 768px) {
    inline-size: 100%;

    .game-summary-btn-container,
    .continue-btn-container {
      width: auto;
    }

    .button {
      font-size: 1rem;
      padding: 1rem 1.5rem;
    }
  }
}
