.game-result-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 50%;
  gap: var(--game-result-spacing);

  .game-summary-btn-container {
    width: 50%;
    display: flex;
    justify-content: right;
  }

  .continue-btn-container {
    width: 50%;
  }

  .game-summary-btn,
  .continue-btn {
    padding: var(--result-button-padding);
    font-size: var(--result-button-font-size);
    font-weight: 400;
    text-transform: uppercase;
    border-radius: var(--game-result-border-radius);
    cursor: pointer;
    transition: transform var(--result-button-transition-ease);

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .game-summary-btn {
    background: transparent;
    color: var(--ds-color-white);
    border: 0.125rem solid var(--ds-color-white);
  }

  .continue-btn {
    background: var(--ds-color-green-80);
    background-image: var(--button-success-gradient);
    color: var(--ds-color-white);
    border: 0.0625rem solid var(--ds-color-black);
    text-shadow: var(--game-result-text-shadow);
    box-shadow: var(--game-result-shadow);
  }
}
