.game-result-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 2rem;

  @media (max-width: 480px) {
    margin-top: 1rem;
  }

  .game-summary-btn-container {
    width: 50%;
    display: flex;
    justify-content: right;
  }

  .continue-btn-container {
    width: 50%;
  }

  .game-summary-btn,
  .continue-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .game-summary-btn {
    background: transparent;
    color: white;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    transition: transform 0.2s ease, border-color 0.3s ease;
  }

  .continue-btn {
    background: rgb(108, 185, 40);
    background-image: radial-gradient(
      150% 160% at 50% 15%,
      hsla(0, 0%, 100%, 0.6) 0,
      transparent 30%
    );
    color: white;
    border: 1px solid black;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
  }
}
