:root {
    --bg-gradient: linear-gradient(180deg, #1a1a2e 0%, #10101c 100%);
    --text-color: #fff;
    --text-shadow: 0 0 10px #000000, 0 0 15px #000000;
    --font-family: 'Poppins', sans-serif;
    --h1-font-size: 2.5rem;
    --points-font-size: 2rem;
    --points-color: #fecd19;
    --distance-font-size: 1rem;
    --span-bg: rgba(0, 0, 0, 0.4);
    --span-padding: 5px 7px;
    --span-border-radius: 5px;
    --progress-bar-bg: #333;
    --progress-bar-radius: 15px;
    --progress-value-bg: radial-gradient(circle, #34495e 40%, #273646 80%, #28333d);
    --btn-bg: radial-gradient(circle, #347a40 10%, #275f31 80%, #356e3e);
    --btn-bg2-hover: radial-gradient(circle, #2a6b35 10%, #23582d 80%, #2e5f35);
    --btn-bg-alt: radial-gradient(circle, #34495e 40%, #273646 80%, #28333d);
    --btn-bg-hover: radial-gradient(circle, #2a4058 40%, #203142 80%, #242e38);
    --btn-color: white;
    --btn-padding: 15px 30px;
    --btn-font-size: 1.2rem;
    --btn-border-radius: 30px;
    --btn-box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    --btn-hover-transform: scale(1.05);
    --btn-active-transform: translateY(1px);
    --transition-duration: 0.2s;
}

.progress-bar__details {
    width: 100%;
    margin: 10px 0;
    position: relative;
    padding: 10px;
    border: 2px solid #66cdaa;
    border-radius: var(--progress-bar-radius);
    background-color: rgba(138, 43, 226, 0.1);

    &.progress-bar--red progress::-webkit-progress-value {
        background: linear-gradient(90deg, #ff0000, #ff7f00); // Red to Orange
    }

    &.progress-bar--orange progress::-webkit-progress-value {
        background: linear-gradient(90deg, #ff7f00, #ffff00); // Orange to Yellow
    }

    &.progress-bar--green progress::-webkit-progress-value {
        background: linear-gradient(90deg, #00ff00, #00ff7f); // Green to Light Green
    }
}

progress {
    width: 100%;
    height: 30px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: var(--progress-bar-radius);
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    &::-webkit-progress-bar {
        background-color: var(--progress-bar-bg);
        border-radius: var(--progress-bar-radius);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        border: 1px solid rgb(84, 40, 143);
    }

    &::-webkit-progress-value {
        border-radius: var(--progress-bar-radius);
    }
}