.submit-guess-btn {
    margin-top: 10px;
    width: 100%;
    background: rgb(108, 185, 40);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.6) 0, transparent 30%);
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: transform var(--transition-duration) ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
    opacity: 0.8;
    z-index: 5;

    &:hover {
        transform: scale(1.03);
    }

    &:active {
        transform: scale(.975);
    }

    &.disabled {
        transform: none;
        background: #999;
        cursor: default;
        opacity: 0.7;
    }
}