.round-result-map {
  inline-size: 100%;
  block-size: 45vh;
  border-radius: var(--round-result-border-radius);
  overflow: hidden;
  box-shadow: var(--round-result-shadow);

  .gm-style {
    border-radius: var(--round-result-border-radius);
  }
}
