:root {
  /* Layout */
  --round-result-map-height: 45vh;
  --round-result-map-border-radius: 0.5rem;
  --round-result-map-padding: 0.75rem;
}

.round-result-map {
  block-size: var(--round-result-map-height);
  border-radius: var(--round-result-map-border-radius);
  overflow: hidden;
  padding: var(--round-result-map-padding);
  background: var(--ds-color-purple-100);

  .gm-style {
    border-radius: var(--round-result-map-border-radius);
  }

  #result-map {
    border-radius: var(--round-result-map-border-radius);
  }
}
