:root {
    --control-bottom: 240px;
    --control-left: 0px;
}

.street-view-map {
    width: 100%;
    height: 100vh;
    position: relative;
}

.gm-style .gm-style-cc {
    display: none;
}

.gm-style .gm-bundled-control {
    bottom: var(--control-bottom) !important;
    left: var(--control-left) !important;
    right: unset !important;
}

.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0); 
  }