:root {
  --control-bottom: 15rem;
  --control-left: 0;
}

.street-view-map {
  inline-size: 100vw;
  block-size: 100dvh;
  position: relative;
}

.gm-style .gm-style-cc {
  display: none;
}

.gm-style .gm-bundled-control {
  inset-block-end: var(--control-bottom) !important;
  inset-inline-start: var(--control-left) !important;
  inset-inline-end: unset !important;
}

.transparent-overlay {
  position: absolute;
  inset: 0;
  inline-size: 100vw;
  block-size: 100dvh;
  z-index: 3;
  background: rgba(0, 0, 0, 0);
}
