.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gs-spacing);

  h3 {
    font-size: var(--gs-title-size);
    margin: 0;
  }

  &__options {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    gap: var(--gs-spacing);

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--gs-round-buttons-padding);
      border-radius: var(--gs-border-radius);
      border: 0.0625rem solid var(--gs-border-color);
      cursor: pointer;
      transition: all var(--gs-transition);

      input[type="radio"] {
        display: none;
      }

      &:hover {
        background: var(--gs-hover-bg);
      }

      &.active {
        background: var(--gs-active-bg);
        color: var(--ds-color-white);
        transform: scale(1.05);
      }
    }
  }
}
