.round-result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.8px;
  font-family: "Knewave", system-ui;
  text-transform: uppercase;
  margin: 0;

  .current-round {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    opacity: 0.8;
    font-family: "Knewave", system-ui;

    @media (max-width: 1280px) {
      font-size: 2rem;
    }
  }

  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1rem;
      color: #fff;
      margin: 0;
      text-shadow: 0 0 10px #000000, 0 0 15px #000000;

      @media (max-width: 1280px) {
        font-size: 0.7rem;
      }
    }

    h2 {
      font-size: 2rem;
      color: #fecd19;
      line-height: 1.2;
      margin: 0;

      @media (max-width: 1280px) {
        font-size: 1rem;
      }
    }
  }
}
