.selected-avatar {
  img {
    inline-size: var(--avatar-selected-size);
    block-size: var(--avatar-selected-size);
    border-radius: var(--avatar-border-radius);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform var(--avatar-transition);
    margin: 0;

    &:hover {
      transform: scale(1.05);
    }
  }
}
