@import "../../../../styles/mixins/modal";

.host-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-overlay {
    @extend %modal-overlay;
  }

  &__body {
    @extend %modal-body;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: calc(var(--modal-gap) / 2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
