:root {
  /* NextRound Layout */
  --next-round-max-width: 50rem;
  --next-round-gap: clamp(1rem, 3vh, 2rem);

  /* Typography */
  --next-round-font-size-small: clamp(1rem, 2vw, 1.2rem);
  --next-round-font-size-medium: clamp(1.3rem, 3vw, 1.6rem);
  --next-round-font-size-large: clamp(2rem, 5vw, 3.5rem);

  /* Colors & Effects */
  --next-round-text-shadow: 0 0 0.1rem #000, 0 0 0.3rem #000;
  --next-round-accent-color: #fecd19;
  --next-round-box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.5);

  /* Transitions */
  --next-round-transition: 1s ease;
}

.next-round-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  block-size: 100dvh;
  inline-size: 100%;
  text-align: center;
  color: var(--ds-color-white);
  text-shadow: var(--next-round-text-shadow);
  background: transparent;
  box-shadow: var(--next-round-box-shadow);
  animation: fadeIn var(--next-round-transition);
  position: relative;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inline-size: min(100%, var(--next-round-max-width));
    block-size: 95dvh;
    gap: var(--next-round-gap);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
