.no-googling {
  font-size: var(--next-round-font-size-medium);
  color: var(--ds-color-red-50);
  font-weight: bold;
  text-shadow: var(--next-round-text-shadow);
  text-align: center;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  letter-spacing: 0.0375em;
  margin-top: auto; // Dodajemy margin-top: auto, aby przesunąć element w dół

  @supports (height: 100dvh) {
    align-items: center;
    flex-grow: unset;
  }
}
