:root {
    --primary-color: #fff;
    --secondary-color: #fecd19;
    --background-color: rgba(0, 0, 0, 0.7);
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    --border-radius: 15px;
    --font-family: 'Poppins', sans-serif;
    --font-family-secondary: 'Knewave', system-ui;
    --font-family-td: 'Roboto', sans-serif;
    --text-shadow: 0 0 10px #000000, 0 0 15px #000000;
    --table-header-bg: rgb(32, 32, 41);
    --table-row-hover-bg: rgba(255, 255, 255, 0.2);
    --table-border: 1px solid rgba(255, 255, 255, 0.3);
    --container-width: 80%;
    --max-container-width: 1200px;
    --map-height: 500px;
}

.game-result-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width);
    max-width: var(--max-container-width);
    padding: 1rem;
    color: var(--primary-color);
    font-family: var(--font-family);
    text-shadow: var(--text-shadow);
    margin: 0 auto;
    height: calc(100vh - 50px);
    overflow: hidden;

    &__header {
        font-family: var(--font-family-secondary);
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .summary-map {
        width: 100%;
        height: var(--map-height);
        margin-bottom: 1rem;
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: var(--box-shadow);
    }

    .summary-table-container {
        flex-grow: 1;
        width: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            border: 3px solid rgba(0, 0, 0, 0.7);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .summary-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.9rem;
        text-align: center;

        thead {
            background: var(--table-header-bg);
            font-family: var(--font-family-secondary);
            font-size: 0.8rem;
            position: sticky;
            top: 0;
            z-index: 1;

            th {
                padding: 0.5rem;
                border-bottom: var(--table-border);
            }
        }

        tbody {
            tr {
                transition: background 0.3s ease;

                &:hover {
                    background: var(--table-row-hover-bg);
                    cursor: pointer;
                }

                td {
                    padding: 0.8rem 0;
                    border-bottom: var(--table-border);
                    font-family: var(--font-family-td);

                    &.round {
                        font-weight: bold;
                        font-size: 1.2rem;
                        font-style: italic;
                    }

                    &.points {
                        font-weight: bold;
                        font-size: 1.2rem;
                        font-style: italic;

                        .distance {
                            font-weight: bold;
                            font-size: 0.8rem;
                            color: #9e9e9e;
                            font-style: normal;
                        }

                        .gained-points {
                            font-weight: bold;
                            font-size: 0.8rem;
                            color: rgb(0, 192, 0);
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }

    .continue-btn {
        background: rgb(108, 185, 40);
        background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.6) 0, transparent 30%);
        color: white;
        padding: 15px 30px;
        font-size: 1.2rem;
        font-family: var(--font-family-secondary);
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid black;
        border-radius: 25px;
        text-shadow: 0 0 10px #000000, 0 0 15px #000000;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
        cursor: pointer;
        transition: transform 0.2s ease;
        margin-top: 1rem;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.975);
        }
    }
}