.time-limit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .time-limit__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

    h3 {
      margin: 0;
      font-size: 1.2rem;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
    }

    .time-slider {
      -webkit-appearance: none;
      appearance: none;
      width: 150%;
      margin-left: -25%;
      height: 5px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: radial-gradient(circle, #706aad 10%, #494283 40%, #352f70);
        cursor: pointer;
        transition: background 0.3s ease;
        border: 1px solid black;
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: radial-gradient(circle, #706aad 10%, #494283 40%, #352f70);
        cursor: pointer;
        transition: background 0.3s ease;
        border: 1px solid black;
      }
    }
  }
}
