.time-limit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .time-limit__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

    h3 {
      margin: 0;
      font-size: 1.2rem;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
    }

    .time-slider {
      -webkit-appearance: none;
      appearance: none;
      width: 150%;
      margin-left: -25%;
      height: 5px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: radial-gradient(circle, #706aad 10%, #494283 40%, #352f70);
        cursor: pointer;
        transition: background 0.3s ease;
        border: 1px solid black;
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: radial-gradient(circle, #706aad 10%, #494283 40%, #352f70);
        cursor: pointer;
        transition: background 0.3s ease;
        border: 1px solid black;
      }
    }
  }

  .no-limit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-limit-btn {
      padding: 0.5rem 1rem;
      background: rgba(255, 255, 255, 0);
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 25px;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 1.5px;
      cursor: pointer;
      transition: background 0.3s ease, color 0.3s ease;

      &.selected {
        background: rgba(255, 255, 255, 0.2);
      }

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }

    .tooltip {
      position: absolute;
      top: -2.5rem;
      background: rgba(0, 0, 0, 1);
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 0.9rem;
      text-align: center;
      white-space: nowrap;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: translateY(-10px);
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
      }

      @media (max-width: 768px) {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
      }

      @media (max-width: 480px) {
        font-size: 0.7rem;
        padding: 0.3rem 0.6rem;
      }
    }
  }
}
