.next-round-start {
  font-size: var(--next-round-font-size-medium);
  color: var(--ds-color-white);
  text-align: center;
  margin-top: auto;

  .countdown {
    font-size: var(--next-round-font-size-large);
    color: var(--next-round-accent-color);
    font-weight: bold;
  }
}
