.next-round-start {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Knewave", system-ui;
  letter-spacing: 1px;
  text-align: center;

  .countdown {
    font-size: 3.5rem;
    color: #fecd19;
    font-weight: bold;
    letter-spacing: 5px;
  }
}
