:root {
  /* Layout */
  --minimap-controls-padding: 0.3125rem;
  --minimap-controls-gap: 0.625rem;
  --minimap-controls-border-radius: 3.125rem;
  --minimap-controls-top: 1.25rem;
  --minimap-controls-left: 2.1875rem;

  /* Colors */
  --minimap-controls-bg: rgba(0, 0, 0, 0.5);
}

.map-buttons {
  position: absolute;
  inset-block-start: var(--minimap-controls-top);
  inset-inline-start: var(--minimap-controls-left);
  display: flex;
  flex-direction: row;
  gap: var(--minimap-controls-gap);
  z-index: 2;
  background-color: var(--minimap-controls-bg);
  border-radius: var(--minimap-controls-border-radius);
  padding: var(--minimap-controls-padding);
}
