.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  transition: transform var(--next-round-transition);
  gap: 1rem;
  inline-size: 50%;

  &:hover {
    transform: scale(1.05);
  }

  .avatar {
    inline-size: clamp(4.6875rem, 15vw, 11.25rem);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: var(--next-round-avatar-shadow);
    border: 0.25rem solid var(--ds-color-white);
    object-fit: cover;
    margin: 0;
  }

  p {
    font-size: var(--next-round-font-size-small);
    font-weight: bold;
    color: var(--ds-color-white);
    margin: 0;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    inline-size: 100%;
  }
}
