$primary-shadow-color: rgba(254, 205, 25, 0.8);
$secondary-shadow-color: rgba(255, 99, 71, 0.85);
$background-color: rgba(0, 0, 0, 0.7);
$container-background-color: rgba(255, 255, 255, 0.1);
$border-color: rgba(255, 255, 255, 0.3);
$text-color: #fff;
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Knewave", system-ui;

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 15px $secondary-shadow-color;
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 25px $primary-shadow-color;
  }
}

.game-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: $background-color;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #000, 0 0 15px #000;
  color: $text-color;
  font-family: $font-family-primary;

  &__container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    @media (max-width: 1280px) {
      width: 90%;
    }

    @media (max-width: 1024px) {
      width: 95%;
    }

    @media (max-width: 768px) {
      width: 90%;
    }

    @media (max-width: 480px) {
      width: 95%;
    }

    @media (max-width: 320px) {
      width: 100%;
    }
  }

  &__header {
    margin-bottom: 3rem;
    letter-spacing: 0.8px;
    font-family: $font-family-secondary;

    h1 {
      font-size: 3rem;
      color: $text-color;
      text-transform: uppercase;
      margin: 0;
      font-weight: normal;

      @media (max-width: 1280px) {
        font-size: 2.5rem;
      }

      @media (max-width: 1024px) {
        font-size: 2.2rem;
      }

      @media (max-width: 768px) {
        font-size: 2.5rem;
      }

      @media (max-width: 480px) {
        font-size: 2rem;
      }

      @media (max-width: 320px) {
        font-size: 1.5rem;
      }
    }
  }

  &__score-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 2rem;

    @media (max-width: 1280px) {
      width: 90%;
      gap: 1rem;
    }

    @media (max-width: 1024px) {
      width: 95%;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
