$primary-shadow-color: rgba(254, 205, 25, 0.8);
$secondary-shadow-color: rgba(255, 99, 71, 0.85);
$background-color: rgba(0, 0, 0, 0.7);
$container-background-color: rgba(255, 255, 255, 0.1);
$border-color: rgba(255, 255, 255, 0.3);
$text-color: #fff;
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Knewave", system-ui;

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 15px $secondary-shadow-color;
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 25px $primary-shadow-color;
  }
}

.game-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $background-color;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #000, 0 0 15px #000;
  color: $text-color;
  font-family: $font-family-primary;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    gap: 2rem;
    padding: 1rem 3rem;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;

    @media (max-width: 1024px) {
      gap: 1rem;
      padding: 0.5rem 2rem;
    }

    @media (max-width: 480px) {
      gap: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }

  &__header {
    letter-spacing: 0.8px;
    font-family: $font-family-secondary;

    h1 {
      font-size: 3rem;
      color: $text-color;
      text-transform: uppercase;
      margin: 0;
      font-weight: normal;
    }
  }

  &__score-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
