:root {
  /* Game Result Summary */
  --game-result-summary-max-width: clamp(20rem, 100%, 75rem);
  --game-result-summary-spacing: 0.5rem;
  --game-result-summary-padding: 1rem clamp(0.5rem, 1vh, 2rem);

  /* Game Result Summary Colors & Effects */
  --game-result-summary-bg: transparent;
  --game-result-summary-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.5);
  --game-result-summary-text-shadow: 0 0 0.625rem #000, 0 0 0.9375rem #000;
  --game-result-summary-border-radius: 1.25rem;
}

.game-result-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  block-size: 100dvh;
  max-inline-size: var(--game-result-summary-max-width);
  gap: var(--game-result-summary-spacing);
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  background: var(--game-result-summary-bg);
  color: var(--ds-color-white);
  border-radius: var(--game-result-summary-border-radius);

  @media (max-width: 768px) {
    gap: 0;
  }

  &__header {
    font-size: clamp(2rem, 5vw, 2.5rem);
    text-align: center;
    margin: 0.5rem;
    font-style: italic;
  }

  .summary-map {
    inline-size: 100%;
    block-size: 45vh;
    border-radius: var(--game-result-summary-border-radius);
    overflow: hidden;

    @media (max-width: 768px) {
      block-size: 35vh;
    }
  }

  .summary-table-container {
    inline-size: 100%;
    flex: 1;
    overflow-y: auto;
    margin-block: var(--game-result-summary-spacing);

    &::-webkit-scrollbar {
      inline-size: 0.75rem;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 0.625rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.625rem;
      border: 0.1875rem solid rgba(0, 0, 0, 0.7);

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
