:root {
  /* Layout & Shape */
  --tile-border-radius: 1rem;
  --tile-padding-bottom: 1rem;
  --tile-border-width: 2px;

  /* Typography */
  --tile-letter-spacing: 0.094rem;
  --tile-heading-font-size: clamp(1.2rem, 3vw, 1.5rem);

  /* Shadow Effects */
  --tile-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
  --tile-shadow-hover: 0 4px 8px rgba(121, 80, 229, 0.3);

  /* Animations */
  --tile-scale-hover: 1.03;
  --tile-img-scale-hover: 1.05;

  /* Visual Effects */
  --tile-gradient: linear-gradient(180deg, rgba(16, 16, 28, 0), #10101c 80%);

  /* Transition */
  --tile-transition: 0.3s ease;

  /* Gap */
  --map-selection-gap: 1rem;

  /* Additional Variables */
  --tile-image-height: clamp(6rem, 20vh, 11rem);
  --tile-text-shadow: 0 0 0.9375rem #7f36a1, 0 0 1.25rem #56246d;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--ds-color-black-40);
  border-radius: var(--tile-border-radius);
  overflow: hidden;
  border: var(--tile-border-width) solid var(--ds-color-white-20);
  transition: all var(--tile-transition);
  gap: var(--map-selection-gap);
  padding-block-end: var(--tile-padding-bottom);
  box-shadow: var(--tile-shadow-default);
  position: relative;

  &::after {
    background: var(--tile-gradient);
    content: "";
    inset: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }

  &:hover {
    border-color: var(--ds-color-purple-50);
    box-shadow: var(--tile-shadow-hover);
    transform: scale(var(--tile-scale-hover));

    img {
      transition: transform 300ms cubic-bezier(0, 0, 0.25, 1);
      transform: scale(var(--tile-img-scale-hover));
      object-fit: cover;
    }
  }

  img {
    inline-size: 100%;
    block-size: var(--tile-image-height);
    object-fit: cover;
    transition: all var(--tile-transition);
  }

  h1,
  button {
    position: relative;
    z-index: 2;
  }

  h1 {
    margin: 0;
    font-size: var(--tile-heading-font-size);
    text-transform: uppercase;
    letter-spacing: var(--tile-letter-spacing);
    font-style: italic;
    text-shadow: var(--tile-text-shadow);
    color: var(--ds-color-white-80);
  }

  button {
    letter-spacing: var(--tile-letter-spacing);
  }
}
