.game-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gs-spacing);

  h3 {
    font-size: var(--gs-title-size);
    font-weight: bold;
    margin: 0;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gs-gamemode-spacing);
    inline-size: 100%;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--gs-text-size);
    cursor: pointer;
    padding: var(--gs-gamemode-buttons-padding);
    border-radius: var(--gs-border-radius);
    border: 0.0625rem solid var(--gs-border-color);
    transition: all var(--gs-transition);
    flex-grow: 1;
    inline-size: 40%;

    &:hover {
      background: var(--gs-hover-bg);
    }

    &.active {
      background: var(--gs-active-bg);
      font-weight: bold;
      transform: scale(1.05);
    }

    input[type="radio"] {
      display: none;
    }
  }
}
