:root {
  /* Layout */
  --multiplayer-content-gap: 2rem;
  --multiplayer-content-margin: 2rem;

  /* Background */
  --bg-gradient-teal-opacity-low: rgba(58, 232, 189, 0.5);
  --bg-gradient-teal-opacity-high: rgba(58, 232, 189, 0.8);
  --bg-gradient-purple: #7950e5;
  --bg-gradient-stop: 92.09%;
}

.multiplayer-container {
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
  background: radial-gradient(
      66.5% 221.21% at 136.03% -61.44%,
      var(--bg-gradient-teal-opacity-low) 0%,
      rgba(58, 232, 189, 0) var(--bg-gradient-stop)
    ),
    radial-gradient(
      93.54% 126.91% at 29.15% -56.29%,
      var(--bg-gradient-teal-opacity-high) 0%,
      rgba(58, 232, 189, 0) var(--bg-gradient-stop)
    ),
    radial-gradient(
      86.19% 101.84% at -17.13% -24.8%,
      var(--bg-gradient-purple) 0%,
      rgba(121, 80, 229, 0) var(--bg-gradient-stop)
    ),
    var(--ds-color-purple-100);
}

.multiplayer-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--multiplayer-content-gap);
  margin: var(--multiplayer-content-margin) auto;
  justify-content: center;
  color: var(--ds-color-white);
}
