.leave-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leave-button {
  padding: 1rem 2rem;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 0, 0.7) 0%,
    rgba(139, 0, 0, 0.7) 100%
  );
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 10px #000000, 0 0 15px #000000;
  font-family: "Knewave", system-ui;
  letter-spacing: 1px;
  border: 1px solid black;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
