.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/backgrounds/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2rem 0;
  overflow: auto;
  height: auto;
  align-items: center;
}

.home-content > * {
  max-width: 90%;
  max-height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
