:root {
  /* Layout */
  --header-height: 3.75rem;

  /* Colors & Background */
  --header-bg: var(--ds-color-black);
  --header-text-color: var(--ds-color-white);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: var(--header-height);
  background: var(--header-bg);
  color: var(--header-text-color);
  position: relative;
  z-index: 5;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100%;
    block-size: 100%;
  }
}
