$primary-color: #ffffff;
$secondary-color: #fecd19;
$tertiary-color: #ff6347;
$quaternary-color: #66cdaa;
$background-color: rgba(0, 0, 0, 0.7);
$box-shadow-color: rgba(0, 0, 0, 0.3);
$font-family: "Arial", sans-serif;
$border-radius: 20px;
$max-width: 1000px;

.results {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: $primary-color;
  background: rgba(0, 0, 0, 0.4);
  border-radius: $border-radius;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;

  &__distance,
  &__score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: inset 0px 0px 6px $box-shadow-color;
    font-weight: normal;
    font-family: "Knewave", system-ui;

    .player-result {
      font-size: 1rem;
      color: $primary-color;
      text-align: center;
      margin: 0;
      padding: 1rem 0;
    }

    .player-score {
      font-size: 3rem;
      color: $primary-color;
      text-align: center;
      margin: 0;
      text-shadow: 0 2px 5px rgba(254, 205, 25, 0.8),
        0 4px 10px rgba(255, 99, 71, 0.8);
    }

    .separator {
      font-size: 1rem;
      color: $quaternary-color;
      text-align: center;
      margin: 0;
      opacity: 0.9;
    }
  }
}
