:root {
  /* Colors & Gradients */
  --background-gradient: radial-gradient(
    circle,
    var(--ds-color-purple-100),
    var(--ds-color-black)
  );
  --text-color: var(--ds-color-white);
  --container-bg: var(--ds-color-white-10);
  --container-border: var(--ds-color-white-20);
  --link-bg: var(--ds-color-purple-50);
  --link-hover-bg: var(--ds-color-purple-80);

  /* Typography */
  --h1-font-size: 3rem;
  --p-font-size: 1.5rem;

  /* Spacing */
  --h1-margin-bottom: 20px;
  --p-margin-bottom: 30px;
  --link-padding: 15px 30px;

  /* Effects */
  --box-shadow: 0 8px 16px var(--ds-color-black-40);
  --link-box-shadow: 1px 1px 2px var(--ds-color-black-30);
  --link-transition: background 0.3s ease, transform 0.3s ease;

  /* Border & Radius */
  --link-border-radius: 30px;
}

.not-found-container {
  background: var(--background-gradient);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: var(--text-color);

  .not-found {
    text-align: center;
    padding: 40px;
    background: var(--container-bg);
    border: 1px solid var(--container-border);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    animation: popIn 0.5s ease-in-out;

    h1 {
      font-size: var(--h1-font-size);
      margin-bottom: var(--h1-margin-bottom);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      animation: textFadeIn 1.5s ease-in-out;
    }

    p {
      font-size: var(--p-font-size);
      margin-bottom: var(--p-margin-bottom);
      text-shadow: var(--link-box-shadow);
      animation: textFadeIn 1.5s ease-in-out;
    }
  }
}

@keyframes popIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes textFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
